<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.pinto.js') }}"></script>
    <script>
    // Page of fashion items
    var page = 1

    // Creates a div with all the info from the item
    function createFashionItem(item) {
        var fashion_item = $('<div/>', {
            text:   "Title: " + item.title});
        fashion_item.append("<br>");
        fashion_item.append("Author: " + item.author);
        fashion_item.append("<br>");
        fashion_item.append("Description: " + item.blurb);
        fashion_item.append("<br>");
        fashion_item.append("<img src=/fashion/image/" + item.thumbnail_url + ">");
        fashion_item.append("<br>");
        fashion_item.append("Read More: <a href=\"" + item.details_url + "\">" + item.details_url + "<a/>");
        return fashion_item;
    }

    // Function to append the fashion items to the container
    // Parameter: data - a list of fashion items
    function onDataReceived (data) {
        $.each(data.items, function(idx, obj) {
            $("#container").append(createFashionItem(obj));
        });
        // bug with pinto where you need to trigger resize or it won't
        // do it's layout on initial load.
        $(window).trigger('resize');
    };

    // Function to retrieve the next set of fashion items
    function getFashionItems() {
        $.getJSON("/fashion/" + page, onDataReceived);
        page += 1;
    }

    // Initial setup
    $(document).ready(function() {
        // Get initial set of items
        getFashionItems();
        // set the container to use pinto
        // pinto is a layout js plugin
        $('#container').pinto({
            gapX: 15,
            gapY: 15
        });
    });

    // On scroll, check if the page is at the bottom.
    // If it is, get more fashion items
    $(window).on("scroll", function() {
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        if ((scrollHeight == scrollPosition)) {
            getFashionItems();
        }
    });

    $('img').waitForImages(function() {
        console.log("img loaded")
        $(window).trigger('resize');
    });

    </script>
</head>
<body>
<div id="container"></div>
</body>
</html>
