<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    function create_fashion_item(item){
        console.log(item);
        var fashion_item = $('<div/>', {
            text:   "Title: " + item.title});
        fashion_item.append("<br>");
        fashion_item.append("Author: " + item.author);
        fashion_item.append("<br>");
        fashion_item.append("Description: " + item.blurb);
        fashion_item.append("<br>");
        fashion_item.append("<img src=/fashion/image/" + item.thumbnail_url + ">");
        fashion_item.append("<br>");
        fashion_item.append("Additional info: <a href=\"" + item.details_url + "\">" + item.details_url + "<a/>");
        return fashion_item;
    }

    function onDataReceived (data){
        $.each(data.items, function(idx, obj) {
            $("#container").append(create_fashion_item(obj));
        });
    };

    $(document).ready(function() {
        $.getJSON("/fashion/1", onDataReceived)
    });
    </script>
</head>
<body>
<div id="container">TEST!</div>
</body>
</html>
